* {
    font-size: 20px;
    padding: 0px;
    margin: 0px;
}

header{
    background-image: url("images/headphones_hero_1.jpg");
    padding-top: 20px;
    padding-left: 40px;
    padding-bottom: 40px;
    padding-right: 20px;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

li{
    display: inline;
    text-decoration: none;
    font-size: 18px;
}

a{
    text-decoration: none;
    color: white;
}

a:active, a:hover, a:focus{
    color: #FF6565;
}

img{
    width: 324;
    height: 64;
}

article{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin: 100px;
    flex-direction: column;
    color: white;
}

h1{
    font-size: 2.5rem;
}

p {
    font-size: 18px;
}

button{
    color: white;
    background-color: #FF6565;
    padding: 20px 40px 20px 40px;
    border-radius: 100px;
    margin: 20px;
}
